/*unicode-range: U+10A0-10FF;*/
@font-face {
	font-family: "Noto Sans Georgian";
	font-weight: 100;
	src: url("/fonts/sans/NotoSansGeorgian-SemiCondensedThin.ttf");
}
@font-face {
	font-family: "Noto Sans Georgian";
	font-weight: 200;
	src: url("/fonts/sans/NotoSansGeorgian-SemiCondensedExtraLight.ttf");
}
@font-face {
	font-family: "Noto Sans Georgian";
	font-weight: 300;
	src: url("/fonts/sans/NotoSansGeorgian-SemiCondensedLight.ttf");
}
@font-face {
	font-family: "Noto Sans Georgian";
	font-weight: 400;
	src: url("/fonts/sans/NotoSansGeorgian-SemiCondensed.ttf");
}
@font-face {
	font-family: "Noto Sans Georgian";
	font-weight: 500;
	src: url("/fonts/sans/NotoSansGeorgian-SemiCondensedMedium.ttf");
}
@font-face {
	font-family: "Noto Sans Georgian";
	font-weight: 600;
	src: url("/fonts/sans/NotoSansGeorgian-SemiCondensedSemiBold.ttf");
}
@font-face {
	font-family: "Noto Sans Georgian";
	font-weight: 700;
	src: url("/fonts/sans/NotoSansGeorgian-SemiCondensedBold.ttf");
}
@font-face {
	font-family: "Noto Sans Georgian";
	font-weight: 800;
	src: url("/fonts/sans/NotoSansGeorgian-SemiCondensedExtraBold.ttf");
}
@font-face {
	font-family: "Noto Sans Georgian";
	font-weight: 900;
	src: url("/fonts/sans/NotoSansGeorgian-SemiCondensedBlack.ttf");
}
@font-face {
	font-family: "Noto Serif Georgian";
	font-weight: 100;
	src: url("/fonts/serif/NotoSerifGeorgian-SemiCondensedThin.ttf");
}
@font-face {
	font-family: "Noto Serif Georgian";
	font-weight: 200;
	src: url("/fonts/serif/NotoSerifGeorgian-SemiCondensedExtraLight.ttf");
}
@font-face {
	font-family: "Noto Serif Georgian";
	font-weight: 300;
	src: url("/fonts/serif/NotoSerifGeorgian-SemiCondensedLight.ttf");
}
@font-face {
	font-family: "Noto Serif Georgian";
	font-weight: 400;
	src: url("/fonts/serif/NotoSerifGeorgian-SemiCondensed.ttf");
}
@font-face {
	font-family: "Noto Serif Georgian";
	font-weight: 500;
	src: url("/fonts/serif/NotoSerifGeorgian-SemiCondensedMedium.ttf");
}
@font-face {
	font-family: "Noto Serif Georgian";
	font-weight: 600;
	src: url("/fonts/serif/NotoSerifGeorgian-SemiCondensedSemiBold.ttf");
}
@font-face {
	font-family: "Noto Serif Georgian";
	font-weight: 700;
	src: url("/fonts/serif/NotoSerifGeorgian-SemiCondensedBold.ttf");
}
@font-face {
	font-family: "Noto Serif Georgian";
	font-weight: 800;
	src: url("/fonts/serif/NotoSerifGeorgian-SemiCondensedExtraBold.ttf");
}
@font-face {
	font-family: "Noto Serif Georgian";
	font-weight: 900;
	src: url("/fonts/serif/NotoSerifGeorgian-SemiCondensedBlack.ttf");
}

body {
	font-family: "Noto Sans Georgian", sans-serif;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	line-height: 1.57143;
	color: #424242;
	background-color: #fff;
}
a:active,
a:hover {
	outline: none;
}
a {
	color: #83ae3e;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #689029;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

a.dark {
	color: inherit !important;
}
